<h1 class="text-center">Search for a book</h1>

<%= form_for :search_books, url: search_books_path, html: {class: "search-form"}, method: :get do |form| %>
  <%= form.text_field :query, value: params[:search_books].presence && params[:search_books][:query], class: "search-input" %>
  <%= form.submit 'Search' %>
<% end %>

<% unless @books.nil? %>
  <% if @books.empty? %>
    <h2>No books found matching your query.</h2>
  <% else %>
    <h2>Search results</h2>

    <table style="width: 100%;">
      <thead>
         <tr>
           <th>Title</th>
           <th>Author</th>
           <th>Genre</th>
           <th>Pages</th>
          <th>Booklist</th>
         </tr>
      </thead>

      <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td>
              <%= link_to author_path(book.author.id) do %>
                <%= book.author.first_name %> <%= book.author.last_name %>
              <% end %>
            </td>
            <td>
              <% if defined? book.genre %>
                <% if book.genre.nil? %>
                  Sin definir
                <% else %>
                  <%= book.genre.name %>
                <% end %>
              <% else %>
                Sin definir
              <% end %>

            </td>
            <td> <%= book.pages ||= 'sin definir' %> </td>
            <td>
              <% if (current_user.books.include?(book)) %>
                <%= link_to 'Remove', remove_book_to_booklist_path(book) %>
              <% else %>
                <%= link_to 'Add', add_book_to_booklist_path(book) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <tbody>
    </table>
  <% end %>
<% end %>
<div class="text-center">
  <%= paginate @books %>
</div>
