<p id="notice"><%= notice %></p>
<%= link_to 'Back', :back %>
<h1><%= @book.title %></h1>
<h2>By
  <%= link_to(author_path(@book.author)) do  %>
    <%= @book.author.first_name %> <%= @book.author.last_name %>
  <% end %>
</h2>

<%  if @book.genre %>
<h5> <%= @book.genre.name %> </h5>
<% else %>
<h5> Genre not defined</h5>
<% end %>
<% if can? :edit, Book %>
  <%= link_to 'Edit', edit_book_path(@book) %>
<% end %>
<br>
<% if (current_user.books.include?(@book)) %>
  <%= link_to 'Remove from Booklist', remove_book_to_booklist_path(@book) %>
<% else %>
  <%= link_to 'Add to Booklist', add_book_to_booklist_path(@book) %>
<% end %>
<br>
<% if ! @average.nan? %>
 <%= @average %> / <small>5</small> <li class="material-icons">star</li>
<% end %>
<br>

<!-- Recommendations -->
<% if can? :create, Recommendation %>
  <% if @have_recommended %>
    <h5><span class="badge badge-success">You have recommended this book</span></h5>
  <% else %>
    <h5 class="recommendationButton" onclick="openForm()"><span class="badge badge-primary">Would you recommend this book?</span></h5>
    <%= form_with(url:'/recommendation', method: 'POST', local: true, id:'recommendationForm') do |form|%>
      <div class="form-group">
        <%= label_tag(:text, "Text(optional):") %>
        <input type="hidden" name="book_id" value="<%= @book.id %>">
        <%= text_area_tag(:text, '', class: 'form-control', rows: 3) %>
        <%= form.submit(class:'btn btn-primary') %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <h4> As your account is private, you are not allowed to recommend books</h4>
<% end %>

<span class="badge badge-secondary"><%= @count_recommendations %></span> people have recommended this book
<!-- End Recommendations -->

<br>
<%= @book.pages %> pages
<br>
<h3>Opinions:</h3>
<% if @book.opinions.count == 0 %>
  <p>Sorry! There are no opinions.. at least for now! Please tell us what you think about this book.</p>
<% else %>
  <ul class="list-group">
    <% @book.opinions.each do |opinion| %>
      <li class="list-group-item">
        <div class="opinion-header">
          <div class="opinion-text">
            <% if ! opinion.text.empty? %>
              <i> '<%= opinion.text %>', by
                <% if opinion.user.username.nil? %>
                  <b><%= opinion.user.email %></b>
                <% else %>
                  <b><%= opinion.user.username %></b>
                <% end %>
              </i>
            <% else %>
              <% if opinion.user.username.nil? %>
                <b><%= opinion.user.email %></b>
              <% else %>
                <b><%= opinion.user.username %></b>
              <% end %>
            <% end %>
          </div>
          <div class="opinion-stars">
            <% for i in 1..opinion.stars do %>
              <span class="material-icons">star</span>
            <% end %>
            <% 5.downto(opinion.stars + 1) do %>
              <span class="material-icons">star_border</span>
            <% end %>
          </div>
        </div>

        <div class="opinion-header">

          <span class="like-container">
            <%= opinion.likes.count %>
            <span class="material-icons">favorite</span>
          </span>


          <% if opinion.user != current_user %>
            <% pre_like = opinion.likes.find { |like| like.user_id == current_user.id} %>
            <% if pre_like %>
              <%= button_to 'Unlike', opinion_like_path(opinion, pre_like), method: :delete %>
            <% else %>
              <%= button_to 'Like', opinion_likes_path(opinion), method: :post %>
            <% end %>
          <% else %>
            <%= link_to(delete_opinion_path(opinion.id), method: 'POST') do %>
              <span class="material-icons"> delete </span>
            <% end %>
          <% end %>
        </div>

      </li>
    <% end %>
  </ul>
<% end %>

<br>

<% if (has_commented?) %>
  You cannot leave your opinion again
<% else %>

  <% if can? :create, Opinion %>
    Please leave your opinion!
      <div class="form-group">
      <%= form_with(url: '/opinion', method: 'POST') do %>
        <input type="hidden" name="user_id" value="<%= current_user.id%>">
        <input type="hidden" name="book_id" value="<%= @book.id %>">
          <textarea name="text" rows="6" cols="40" class="form-control"></textarea>
          <select class="form-control" name="stars">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
          <button type="submit" class="btn btn-primary" name="button">Save</button
      <% end %>
      </div>
  <% else %>
      <h4> As your account is private, you are not allowed to leave opinions</h4>
  <% end %>
<% end %>

<script type="text/javascript">

  window.onload = function() {
    var form = document.getElementById("recommendationForm");
    form.style.display = "none";
  };

  function openForm() {
    var form = document.getElementById("recommendationForm");
    if (form.style.display === "none") {
      form.style.display = "block";
    }
    else {
      form.style.display = "none";
    }
  }
</script>
