<% if @user.is_public || @user === current_user %>
<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>
<% if current_user === @user %>
  <h4>Personal Profile</h4>

  <p> Joined on <%= @user.created_at.strftime("%B, %Y") %> </p>

  <% if(current_user.is_public) %>
    <span class="badge badge-secondary"> PUBLIC </span>
  <% else %>
    <span class="badge badge-secondary"> PRIVATE </span>
  <% end %>
  <br><br>

  <button class="btn btn-warning">
    Edit profile
  </button>

<% else %>
  <% if @user.following?(current_user) %>
    <h4>
      <span class="badge badge-secondary">
      This user is following you
      </span>
    </h4>
  <% end %>

  <h4>
    <% if current_user.following?(@user) %>
        <span class="badge badge-danger">
      <%= link_to('unfollow', unfollow_path(@user.id)) %>
    <% else %>
        <span class="badge badge-success">
      <%= link_to('follow', follow_path(@user.id)) %>
    <% end %>
    </span>
  </h4>

  <p> Joined on <%= @user.created_at.strftime("%B, %Y") %> </p>

  <%= link_to('Booklist', booklist_path(@user.id)) %>

<% end %>

<br>
<% if ! @user.opinions.empty? %>
  <span class="badge badge-success">
    <%= @user.opinions.count  %> opinions
  </span>
<% end %>
<br>

<% if ! @user.recommendations.empty? %>
  <span class="badge badge-success">
    <%= @user.recommendations.count  %> recommendations
  </span>
<% end %>
<br>

<p>
  <%= @user.followers_count %> followers
  |
  <%= @user.follow_count %> following
</p>

<div class="container">
  <div class="row">
    <div class="col-6 divider">
      <h3>Opinions written</h3>

        <% if ! @opinions.empty? %>
        <div class="list-group">
        <% @opinions.each do |opinion| %>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <%= link_to(book_path(opinion.book.id)) do %>
                    <%= opinion.book.title %>
                <% end %>
                , by
                <%= link_to(author_path(opinion.book.author.id)) do %>
                  <%= opinion.book.author.first_name %> <%= opinion.book.author.last_name %>
                <% end %>
                </h5>
              <small> <%= opinion.created_at.strftime("%B %d of %Y, at %H:%M") %> </small>
            </div>
            <p class="mb-1">
              "<%= opinion.text %>"
            </p>
            <small>
              <% for i in 1..opinion.stars do %>
                <li class="material-icons">star</li>
              <% end %>
              <% 5.downto(opinion.stars + 1) do %>
                <span class="material-icons">star_border</span>
              <% end %>
            </small>
            <br>
            <small> <%= opinion.likes.count %> likes </small>
          </div>
        <% end %>
        <% if ! @opinions.empty? %>
          <div class="text-center">
            <%= paginate @opinions %>
          </div>
        <% end %>
      </div>
      <% else %>
        The user has not made any opinions
      <% end %>
    </div>
    <div class="col-6">
      <h3>Recommendations made</h3>
        <% if ! @recommendations.empty? %>
        <div class="list-group">
        <% @recommendations.each do |recommendation| %>
          <div class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">
                <%= link_to(book_path(recommendation.book.id)) do %>
                    <%= recommendation.book.title %>
                <% end %>
                , by
                <%= link_to(author_path(recommendation.book.author.id)) do %>
                  <%= recommendation.book.author.first_name %> <%= recommendation.book.author.last_name %>
                <% end %>
                </h5>
              <small> <%= recommendation.created_at.strftime("%B %d of %Y, at %H:%M") %> </small>
            </div>
            <% if ! recommendation.text.empty?%>
              <p class="mb-1">
                "<%= recommendation.text %>"
              </p>
            <% end %>
            <% if current_user === @user %>
              <small>
                <%= link_to(delete_recommendation_path(recommendation.id), method: 'POST', local:true) do %>
                  <span class="material-icons">delete</span>
                <% end %>
              </small>
            <% end %>
          </div>
        <% end %>
        </div>
        <% else %>
        The user has not made any recommendations
        <% end %>
    </div>
  </div>
</div>
<br>
<br>

<% else %>
  <h2 class="text-center"> This account is private</h2>
  <h5 class="text-center"> This user is not allowed to leave opinions or to recommend books. Also, other users
    cannot see the personal info of the account.
  </h5>
<% end %>
